body{
    margin: 0;
    height: 100%;
}
.header{
    padding: 20px 0;
    background-color: #ffffff;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;

}

.logo-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid #008CFF ;
    width: 80%;
    
}

.logo-content-img{ 
    border: solid 0px #42515f;
}
.emp-text{
    font: normal normal bold 20px/25px Montserrat;
    font-family: "Montserrat",sans-serif;
    letter-spacing: 0px;
    color: #008CFF;
    text-transform: capitalize;
}

.emp-payroll{
    color: #42515f;
}

*{box-sizing: border-box;}

/* UC2 */
.form-content {
    min-height: calc(100% - 80px);
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-header {
    width: 50%;
    padding: 15px 60px;
    background: #3c6281 0% 0% no-repeat padding-box;
    opacity: 1;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    align-items: center;
}

.form-head {
    left: 800px;
    width: 500px;
    text-align: center;
    font: normal normal normal 20px/28px Roboto;
    letter-spacing: 0px;
    color: #181616;
    text-transform: uppercase;
    opacity: 1;
}

.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.push{
    width: 30px;
    height: auto;
    opacity: 1;
    margin-left: auto;
    padding-top: 10px;
}

.form{
    min-height: calc(100% - 80px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-input{
    width: 50%;
    padding: 15px 60px;
    background: white 0% 0% no-repeat;
    opacity: 1;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    align-items: center;
}

.row-content{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.label-text{        
    text-align: left;
    font: normal normal normal 14px/18px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    opacity: 1;
    text-transform: capitalize;
}

label{
    padding: 12px 12px 7px 0;
    display: inline-block;
}

.input{
    width: 100%;
    padding: 8px;
    resize: vertical;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    opacity: 1;
}

.input-address{
    width: 100%;
    padding: 8px;
    height: 70px;
    resize: vertical;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    opacity: 1;
}

.row-select{
    display: flex;
    justify-content: space-between;
    
}
.select-text{
    width: 150px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    opacity: 1;
    font: normal normal 14px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    background-color: transparent ;
}


.Select-option{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

